ul.jui__list {
    list-style-type: none;
    padding-left: 0;

    cursor: default;

    user-select: none;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
}

ul.jui__list li {
    padding: 5px;
    border-bottom: 1px solid #BBBBBB;

    transition: background-color .2s;
}

ul.jui__list li:hover {
    background-color: #AAAAAA;
}

ul.jui__list li:last-child {
    border: 0;
}

.jui__button {
    font-size: 16px;

    color: #333333;
    background-color: #D0D0D0;

    padding: 5px 10px;
    margin: 3px;

    border: none;
    outline: none;

    cursor: pointer;

    box-sizing: border-box;

    transition: background-color .2s;
}

.jui__button:hover, .jui__button:focus {
    background-color: #C0C0C0;
}


.jui__input {
    margin: 10px 0;
    padding: 5px;

    outline: 0;
    border: 0;
    border-bottom: 1px #D0D0D0 solid;

    font-size: 16px;

    transition: border .2s;

    box-sizing: border-box;
}

.jui__input:hover {
    border-bottom-color: #B8B8B8;
}

.jui__input:focus {
    border-bottom-color: #000000;
}