.content {
  position: fixed;

  display: block;

  top: 0;
  left: 0;
  right: 0;
  bottom: 88px;

  padding: 10px;

  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: auto;
}

.content--hide {
  display: none
}