.dialog {
  width: 500px;
  max-width: 100%;

  padding: 10px;

  background-color: rgba(255, 255, 255, 0.6);

  display: flex;
  flex-direction: column;

  text-align: center;

  button {
    margin-top: 15px;
  }
}