@media screen and (max-height: 200px) {
  .menu--container {
    display: none !important;
  }

  .content {
    bottom: 0 !important;
  }
}

.menu--container {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;

  height: 88px;
  overflow: hidden;

  background-color: #D0D0D0;

  animation-name: showMenuContainer;
  animation-duration: .35s;
  animation-timing-function: ease-out;
}

.menu {
  animation-name: showMenu;
  animation-duration: .7s;
  animation-timing-function: ease-in;
}

.menu {
  display: flex;

  overflow-y: hidden;
  overflow-x: scroll;

  padding-left: 90px;

  user-select: none;
}

.menu__item {
  min-width: 90px;
  overflow: hidden;

  cursor: pointer;
  padding: 5px;

  transition: background-color .2s;

  &--icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 60px;
  }

  &--name {
    width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;

    white-space: nowrap;

    font-weight: bold;

    text-align: center;
  }

  &--fa {
    text-align: center;
    font-size: 50px;

    .fa {
      line-height: 60px;
    }
  }


  &--more {
    position: fixed;
    bottom: -1px;
    left: 0;

    .menu__item--icon {
      border-radius: 100%;
      width: 56px;
      height: 56px;
      margin: 0 auto 5px;
      background-color: #FFFFFF;
      overflow: hidden;

      font-size: 50px;

      transition: box-shadow .2s;

      box-shadow: 0 0 10px #666666;

      .fa {
        text-shadow: 0 0 5px #A8A8A8;
        line-height: 60px;
        text-align: center;
        width: 100%;
      }
    }

    &:hover .menu__item--icon {
      box-shadow: 0 0 5px #666666;
    }
  }

  &:hover {
    background-color: #E8E8E8;
    color: #FF0000;
  }
}


@keyframes showMenuContainer {
  0% {transform:translateY(100%); opacity: 0}
  100% {transform:translateY(0); opacity: 1}
}

@keyframes showMenu {
  0% { opacity: 0}
  100% { opacity: 1}
}