//.loadingIndicator {
//  background-color: #FF0000;
//  top: 50%;
//  left: 50%;
//}

.loadingIndicator--container {
  position: fixed;
  top: 50px;
  left: 50%;

  z-index: 10;

  transform: translateX(-50%);
}

.loadingIndicator {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #FF2222; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;

  margin: 0 auto;

  animation: spin 2s ease-in-out infinite;
  animation-timing-function: cubic-bezier(0.5,0.1,0.2,1);

  &--hide {
    display: none;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}